@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');


*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #E5E5E5;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -2.8rem 0;
}

/* =========================================================*/
/*                          Logo                            */
/* =========================================================*/

h3 {
  font-family: 'Coiny';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

/* =========================================================*/
/*                      Navigation Bar                      */
/* =========================================================*/

.navbar {
  height: 2.8rem;
  background-color: #9CC2D8;
  top: 0;
  position: sticky;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar>ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  margin: 0;
  padding: 0 40px;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
}

li:last-child {
  justify-content: right;
}

li:first-child {
  justify-content: left;
}

.btn {
  border: none;
  background-color: #9CC2D8;
  color: black;
  cursor: pointer;
  font-size: 24px;
}

.btn-sb:hover:enabled,
.btn:hover:enabled {
  transform: scale(1.1);
}

.btn:disabled,
.btn[disabled] {
  color: #666666;
}

/* =========================================================*/
/*                          Sidebar                         */
/* =========================================================*/

.sidebar {
  background-color: rgba(0, 0, 0, 0.0) !important;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 998;
  padding: 100px 0px;
  margin-right: 40px;

}

.sidebar ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 5px 0;
}

.btn-sb {
  color: black;
  font-size: 30px;
  height: 50px;
  border-radius: 50%;
  background: #9CC2D8;
  padding: 10px;
  border: none;
}

#rounde{
  position: relative;
}

/* =========================================================*/
/*                       Sidebar Slider                     */
/* =========================================================*/

.sidebarSlider {
  background-color: rgba(0, 0, 0, 0.0) !important;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 998;
  padding: 100px 0px;
  margin-right: 90px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: black;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  margin-top: -4px;

  background-color: #9CC2D8;
  height: 1rem;
  width: 1rem;
}

input[type="range"]::-moz-range-track {
  background-color: black;
  border-radius: 0.5rem;
  height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  border-radius: 50%;
  background-color: #9CC2D8;
  height: 1rem;
  width: 1rem;
}

#sliderRound {
  display: none;
  position: fixed;
  top: 150px;
  right: 55px;
  margin: 40px;
}

#sliderSquare {
  display: none;
  position: fixed;
  top: 90px;
  right: 55px;
  margin: 40px;
}

#sliderText {
  display: none;
  position: fixed;
  top: 210px;
  right: 55px;
  margin: 40px;
}

/* =========================================================*/
/*                          Color Bar                       */
/* =========================================================*/

#colorP {
  -webkit-appearance: none;
  border: 3px solid #9CC2D8;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  padding: 0;
}

#colorP::-webkit-color-swatch {
  border-radius: 25px;
  padding: 0;
  border: 3px solid #9CC2D8;
}

#colorP::-webkit-color-swatch-wrapper {
  border-radius: 25px;
  padding: 0;
  border: 3px solid #9CC2D8;
}

/* =========================================================*/
/*                          Canvas                          */
/* =========================================================*/

#canvas {
  height: 800px;
  width: 800px;
  margin: auto;
}

#myGraphic,
#myCanvas {
  background-color: white;
}

/* =========================================================*/
/*                          Footer                          */
/* =========================================================*/

footer {
  background-color: #9CC2D8;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  height: 2.8rem;
  z-index: 999;
}

footer p {
  margin: 10px 0;
  color: black;
}

footer i {
  color: red;
}

footer a {
  color: #E5E5E5;
  text-decoration: none;
}

/* =========================================================*/
/*                     Media Screen                         */
/* =========================================================*/

@media only screen and (max-width: 1400px) {

  #canvas {
    width: 800px;
    height: 800px;
    margin: auto;
  }

}

@media only screen and (max-width: 1200px) {

  #canvas {
    width: 600px;
    height: 600px;
    margin: auto;
  }

}

@media only screen and (max-width: 760px) {
  #canvas {
    width: 400px;
    height: 400px;
    margin: auto;
  }
}

@media only screen and (max-width: 596px) {
  .btn {
    border: none;
    border-radius: 35px;
    background-color: #9cc2d8;
    color: black;
    cursor: pointer;
    font-size: 24px;
  }

  .navbar ul {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .navbar ul li:first-child {
    margin-right: 2rem;
  }

  #canvas {
    width: 200px;
    height: 200px;
    margin: auto;
  }
}